<!doctype html>
<html ng-app="angular-table">
    <head>
        <link rel="stylesheet" href="/app/styles/angular-table.css">
    </head>
    <body style="border: 0; margin: 0; padding: 0;">

        <div style="height: 100%; width: 100%;" ng-controller="ClickController">
            <angular-table ng-init="boundModel = [ { name: 'Sharon', age: 27, weight: 105 } ]" ng-model="boundModel">
                <header-row>
                    <header-column style="background-color: #dddddd;"><a href ng-click="handleClick('David')">Name</a></header-column>
                    <header-column style="background-color: #dddddd;" default-sort-column>Age</header-column>
                    <header-column style="background-color: #dddddd;">Weight</header-column>
                </header-row>
            </angular-table>
        </div>

        <script src="/app/bower_components/angular/angular.js"></script>
        <script src="/app/scripts/InstantiateModule.js"></script>
        <script src="/app/scripts/AngularTable.js"></script>
        <script src="/app/scripts/HeaderRow.js"></script>
        <script src="/app/scripts/HeaderColumn.js"></script>

        <script>
            angular.module('angular-table')
                    .controller('ClickController', ['$scope', function($scope) {
                        $scope.handleClick = function(name) {
                            console.log(name + ' clicked me!');
                        };
                    }])
        </script>

        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    </body>
</html>
