.demoFhatTable {
    float: left;
    margin: 0;
    vertical-align: top;
    height: 100%;
    width: 70%;
}

.demoDetailPane {
    float: left;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0;
    width: 20%;
    height: 70%;
    background-color: #87cefa;
    vertical-align: top;
    padding: 5px;
}

.demoRow {
    font-size: 16px;
}

.demoHeaderColumn {
    color: gray;
}
