<html ng-app="demo">
    <head>
        <link rel="stylesheet" href="css/lib/fixed-header-angular-table.css" />
        <link rel="stylesheet" href="css/demo/demo.css" />
    </head>

    <body ng-controller="demoController">

        <fhat model="listOfNumbers" default-sort-column="id" class="demoFhatTable">
            <fhat-header-row>
                <fhat-header-column sortable="true" sort-field-name="id"
                                    style="background-color: deepskyblue; width:40%;">
                    <div style="display: inline-block;">Id {{ 1 + 1 }}</div>
                    <fhat-sort-arrow-ascending></fhat-sort-arrow-ascending>
                    <fhat-sort-arrow-descending></fhat-sort-arrow-descending>
                </fhat-header-column>
                <fhat-header-column sortable="false" sort-field-name="name" class="demoHeaderColumn" style="width: 30%;">
                    <fhat-sort-arrow-ascending></fhat-sort-arrow-ascending>
                    <fhat-sort-arrow-descending></fhat-sort-arrow-descending> <div style="display: inline-block;"><i>Name</i></div>
                </fhat-header-column>
                <fhat-header-column sortable="true" sort-field-name="street" style="width: 30%;">
                    <fhat-sort-arrow-ascending></fhat-sort-arrow-ascending>
                    <fhat-sort-arrow-descending></fhat-sort-arrow-descending> <div style="display: inline-block;">Street</div>
                </fhat-header-column>
            </fhat-header-row>

            <fhat-row on-selected="handleRowSelection(row)" selected-color="#87cefa" even-color="#ffffff" odd-color="#eeeeee" class="demoRow">
                <fhat-column style="font-family: courier; width:40%;"><b>{{ row.id }}</b></fhat-column>
                <fhat-column style="background-color: lemonchiffon; width: 30%;"><input type="text" ng-model="row.name"></input></fhat-column>
                <fhat-column style="width: 30%;">{{ row.street }}</input></fhat-column>
            </fhat-row>
        </fhat>

        <div class="demoDetailPane">
            <p>Id: {{ selectedRow.id }}</p>
            <p>Name: <input type="text" ng-model="selectedRow.name"></input></p>
            <p>Street: <input type="text" ng-model="selectedRow.street"></input></p>

            <p><button ng-click="addRows(1)">Add Row To End</button></p>
            <p><button ng-click="listOfNumbers.pop()">Remove Last Row</button></p>
            <p><button ng-click="listOfNumbers = []">Remove All Rows</button></p>
            <p><button ng-click="addRows(50)">Add 50 Rows</button></p>
        </div>

        <script src="js/lib/angular.js"></script>
        <script src="js/lib/fixed-header-angular-table.js"></script>
        <script src="js/demo/demo.js"></script>

        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

    </body>

</html>
